.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  border: 1px solid $app-green;
  height: 30vh;
  width: 60vw;
  position: relative;
}

.card-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-title {
  font-size: 1rem;
}

.card-body {
  font-size: .7rem;
}

.card-footer {
  font-size: .5rem;
}

@media only screen and (min-width: 440px) {
  .card-container {
    height: 30vh;
    width: 30vw;
  }
}
